@import "../../../styles/main.scss";

header {
  background-color: $dark-color;
}
.container {
    padding: 15px 0px 15px 0px;
    }
h1 {
    color: $light-color;
      font-size: 1.5rem;
      font-weight: 700;
      font-family: "Lato", sans-serif;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title-container {
    flex-basis: 70%;
  }
  .button-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 30%;
  }