<header [class.light-header]="checked">
    <div class="container header-container">
        <div class="title-container">
        <h1 [class.light-header-title]="checked">Kanban Dashboard</h1>
        </div>
        <div class="button-container">
      <mat-slide-toggle
          class="example-margin"
          [color]="color"
          (toggle)="onChange()"
          [(ngModel)]="checked"
          [disabled]="disabled">
        Change theme
      </mat-slide-toggle>
      <button mat-raised-button color="accent">Registration</button>
      <button mat-raised-button color="accent">Login</button>
      </div>
    </div>
</header>
