$dark-color: #11102b;
$light-color: #d4cece;
$animation: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

$light-shadow: rgba(255, 255, 255, 0.25) 0px 14px 28px, rgba(255, 255, 255, 0.22) 0px 10px 10px;
$dark-shadow: $dark-color 0px 14px 28px, $dark-color 0px 10px 10px;