//fonts 

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:wght@400;700&display=swap');

$family-sans-serif: 'Nunito', sans-serif;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//global styles

html, body {
    height: 100%;
}
html {
    background-image: url(../assets/background.jpg);
    background-size: cover;
    overflow-y: auto;
}