//fonts 

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:wght@400;700&display=swap');

$family-sans-serif: 'Nunito', sans-serif;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//global styles

html, body {
    height: 100%;
}

.btn {
    display: inline-block;
    background-color: rgb(17, 16, 43);
    color: rgb(212, 206, 206);
    padding: 10px 30px;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    &:hover:not(:disabled), &:focus:not(:disabled) {
        color: rgb(17, 16, 43);
        background-color: rgb(212, 206, 206);
        transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    &:disabled {
        background-color: rgb(86, 86, 117);
        cursor: not-allowed;
    }
}
::-webkit-scrollbar {
    width: 7px;
    background-color: #ccc;
    scroll-behavior: smooth;
  }