@import "../../../styles/main.scss";

header {
  background-color: $dark-color;
}
.container {
  padding: 10px 0px 10px 0px;
  }
h1 {
  color: $light-color;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Lato", sans-serif;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
section {
  padding: 20px 0px 20px 0px;
  height: 91vh;
  background-color: $light-color;
}
.dark-background {
  background-color: $dark-color;
}
.example-container {
    width: 100%;
    max-width: 100%;
    margin: 0 15px 15px 0;
    display: inline-block;
    vertical-align: top;
  }  
  @media screen and(min-width: 768px){
    .board-bar {
      display: flex;
    }
    .example-container {
     width: calc((100% - 15px * 4) / 2)
    }
  }
  .example-section {
    @include center-element;
    align-items: center;
    height: 60px;
  }  
  .example-margin {
    margin: 10px;
  }
  .list {
    box-shadow: $dark-shadow;
    height: 450px;
    background: $light-color;
    border-radius: 4px;
    display: block;
    overflow-y: scroll;
  }  
  .box {
    @include center-element;
    padding: 20px 10px;
    text-align: center;
    color:  $dark-color;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 3px;
    background: $light-color;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    position: relative;
    box-shadow: $dark-shadow;
  }
  .handle {
    cursor: move;
   svg {
     fill:rgba(124, 126, 8, 0.76)
   }
  }
  mat-icon {
    cursor: pointer;
    transition: $animation;
    &:hover, &:focus {
    color: red;
    transition: $animation;
    }
  }
  .dropbox-title {
    text-align: center;
   font-size: 1.2rem;
   font-weight: 700;
   background-color: $dark-color;
   color: $light-color;
   padding: 10px 0px 10px 0px;
   margin-bottom: 10px;
  }  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }  
  .cdk-drag-placeholder {
    opacity: 0;
  }  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }  
  .example-box:last-child {
    border: none;
  }  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  