<header class="header">
    <div class="container">
        <h1>Kanban Dashboard</h1>
    </div>
</header>
<main>
    <section>
      <div class="container">
        <button class="btn" mat-button (click)="openDialog()">Add new task</button>
      </div>
        <div class="container board-container">
            <div class="board-bar">
                <div class="example-container">                 
                    <div
                      cdkDropList
                      #todoList="cdkDropList"
                      [cdkDropListData]="planned"
                      [cdkDropListConnectedTo]="[doneList, finishedList]"
                      class="list"
                      (cdkDropListDropped)="drop($event)">
                      <h2 class="dropbox-title">Planned tasks</h2>
                      <div
                      class="box" 
                      *ngFor="let item of planned" 
                      cdkDrag
                      >{{item.value}}</div>
                      </div>
                  </div>
                  
                  <div class="example-container">                  
                    <div
                      cdkDropList
                      #doneList="cdkDropList"
                      [cdkDropListData]="progress"
                      [cdkDropListConnectedTo]="[todoList, finishedList]"
                      class="list"
                      (cdkDropListDropped)="drop($event)">
                      <h2 class="dropbox-title">Tasks in progress</h2>
                      <div 
                      class="box" 
                      *ngFor="let item of progress" 
                      cdkDrag
                      >{{item.value}}</div>
                    </div>
                  </div>
                  <div class="example-container">                 
                    <div
                      cdkDropList
                      #finishedList="cdkDropList"
                      [cdkDropListData]="finished"
                      [cdkDropListConnectedTo]="[todoList, doneList]"
                      class="list"
                      (cdkDropListDropped)="drop($event)">
                      <h2 class="dropbox-title">Finished tasks</h2>
                      <div 
                      class="box" 
                      *ngFor="let item of finished" 
                      cdkDrag
                      >{{item.value}}</div>
                    </div>
                  </div>
            </div>
        </div>
    </section>
</main>
