<main>
    <section [class.dark-background]="checked">
      <div class="container">
        <button [class.light-btn]="checked" class="btn" mat-button (click)="openDialog()">Add new task</button>
      </div>
        <div class="container board-container">
            <div class="board-bar">
                <div class="example-container">                 
                    <div
                      cdkDropList
                      #todoList="cdkDropList"
                      [cdkDropListData]="planned"
                      [cdkDropListConnectedTo]="[doneList, finishedList]"
                      class="list"
                      [class.light-list]="checked"
                      (cdkDropListDropped)="drop($event)">
                      <h2 [class.light-dropbox-title]="checked" class="dropbox-title">Planned tasks</h2>
                      <div
                      class="box" 
                      [class.light-box]="checked"
                      *ngFor="let item of planned" 
                      cdkDrag
                      >
                      <div class="handle" cdkDragHandle>
                        <svg width="24px" viewBox="0 0 24 24">
                          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                          <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                      </div>
                      {{item.value}}
                      <mat-icon (click)="deleteItem(item)">close</mat-icon>
                    </div>
                      </div>
                  </div>
                  
                  <div class="example-container">                  
                    <div
                      cdkDropList
                      #doneList="cdkDropList"
                      [cdkDropListData]="progress"
                      [cdkDropListConnectedTo]="[todoList, finishedList]"
                      class="list"
                      [class.light-list]="checked"
                      (cdkDropListDropped)="drop($event)">
                      <h2 [class.light-dropbox-title]="checked" class="dropbox-title">Tasks in progress</h2>
                      <div 
                      class="box" 
                      [class.light-box]="checked"
                      *ngFor="let item of progress" 
                      cdkDrag
                      >
                      <div class="handle" cdkDragHandle>
                        <svg width="24px" viewBox="0 0 24 24">
                          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                          <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                      </div>
                      {{item.value}}
                      <mat-icon (click)="deleteItem(item)">close</mat-icon>
                      </div>
                    </div>
                  </div>
                  <div class="example-container">                 
                    <div
                      cdkDropList
                      #finishedList="cdkDropList"
                      [cdkDropListData]="finished"
                      [cdkDropListConnectedTo]="[todoList, doneList]"
                      class="list"
                      [class.light-list]="checked"
                      (cdkDropListDropped)="drop($event)">
                      <h2 [class.light-dropbox-title]="checked" class="dropbox-title">Finished tasks</h2>
                      <div 
                      class="box" 
                      [class.light-box]="checked"
                      *ngFor="let item of finished" 
                      cdkDrag
                      >                      
                      <div class="handle" cdkDragHandle>
                        <svg width="24px"  viewBox="0 0 24 24">
                          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                          <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                      </div>
                      {{item.value}}
                      <mat-icon (click)="deleteItem(item)">close</mat-icon>
                    </div>
                    </div>
                  </div>
            </div>
        </div>
    </section>
</main>
