.form-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form {
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
}
.btn {
    display: inline-block;
    background-color: rgb(17, 16, 43);
    color: rgb(212, 206, 206);
    padding: 10px 30px;
}
.form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}
